@import "tailwindcss";

.navbar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: min(90%, 420px);
  z-index: 1000;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}